body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1000px;
}
#u8825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1000px;
}
#u8825_ref {
  border-width:0px;
  position:absolute;
  left:1912px;
  top:990px;
  width:1px;
  height:1px;
}
#u8826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1000px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1000px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8828 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:410px;
  width:470px;
  height:180px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:16px;
}
#u8829 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:430px;
  width:64px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:16px;
}
#u8829 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8829_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8830 {
  border-width:0px;
  position:absolute;
  left:1159px;
  top:430px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u8830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u8830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  line-height:24px;
}
#u8831 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:466px;
  width:300px;
  height:48px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  line-height:24px;
}
#u8831 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8831_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u8832 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:540px;
  width:70px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u8832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  line-height:12px;
}
#u8833 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:540px;
  width:70px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  line-height:12px;
}
#u8833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
