body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:950px;
}
#u7969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:950px;
}
#u7969_ref {
  border-width:0px;
  position:absolute;
  left:1912px;
  top:940px;
  width:1px;
  height:1px;
}
#u7970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:950px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:950px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7972 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:385px;
  width:470px;
  height:180px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7972 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:16px;
}
#u7973 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:405px;
  width:64px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:16px;
}
#u7973 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7973_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7974 {
  border-width:0px;
  position:absolute;
  left:1159px;
  top:405px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u7974 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  line-height:24px;
}
#u7975 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:441px;
  width:342px;
  height:48px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  line-height:24px;
}
#u7975 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7975_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u7976 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:515px;
  width:70px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u7976 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  line-height:12px;
}
#u7977 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:515px;
  width:70px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  line-height:12px;
}
#u7977 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
