body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3992 {
  position:fixed;
  left:0px;
  top:0px;
}
#u3992_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3992_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u3993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3994 {
  position:fixed;
  left:50%;
  margin-left:-200px;
  top:50%;
  margin-top:-100px;
}
#u3994_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:400px;
  height:200px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3994_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.9921568627450981);
  border-radius:9px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:200px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u3996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:16px;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:32px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:16px;
}
#u3997 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3997_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  line-height:14px;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:56px;
  width:168px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  line-height:14px;
}
#u3998 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3998_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  text-align:right;
  line-height:14px;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:150px;
  width:68px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  text-align:right;
  line-height:14px;
}
#u3999 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 20px 8px 20px;
  box-sizing:border-box;
  width:100%;
}
#u3999_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  text-align:right;
  line-height:14px;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:150px;
  width:68px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  text-align:right;
  line-height:14px;
}
#u4000 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 20px 8px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4000_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:20px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u4001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u4001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
