.ax_default {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.add-menu {
  font-size:12px;
  line-height:12px;
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.primary_button {
  color:#FFFFFF;
}
._形状 {
}
._图片 {
}
.button {
}
._一级标题 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:13px;
  text-align:left;
}
._段落 {
  text-align:left;
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.table_cell {
}
._连接符 {
}
.snapshot {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
}
.form_disabled1 {
}
.text_field1 {
  font-size:12px;
  color:#7F7F7F;
  text-align:left;
  line-height:12px;
}
.form_hint1 {
  color:#999999;
}
.text_area1 {
  font-size:12px;
  color:#7F7F7F;
  text-align:left;
  line-height:24px;
}
.shape {
}
._正文-常规-中 {
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.flow_shape {
  font-size:12px;
}
._连接 {
}
.table_cell1 {
  font-size:12px;
  line-height:12px;
}
.placeholder {
}
.new_style {
  font-size:13px;
  color:#6B6B6B;
  text-align:left;
  line-height:13px;
}
.flow_shape1 {
}
textarea, select, input, button, div, svg { outline: none; }
