body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:920px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:920px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:9px;
  filter:drop-shadow(none);
  transition:none;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:160px;
  width:600px;
  height:600px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u21 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:6px;
  filter:drop-shadow(none);
  transition:none;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:289px;
  width:280px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u24 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:299px;
  width:20px;
  height:20px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  transition:none;
}
#u25 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u25_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  line-height:13px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:303px;
  width:23px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  line-height:13px;
}
#u26 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#AAAAAA;
  line-height:13px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:303px;
  width:91px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#AAAAAA;
  line-height:13px;
}
#u27 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:289px;
  width:1px;
  height:40px;
  display:flex;
  transition:none;
}
#u28 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u28_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border-radius:9px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
  line-height:13px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:569px;
  width:280px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
  line-height:13px;
}
#u29 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:6px;
  filter:drop-shadow(none);
  transition:none;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:359px;
  width:280px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u30 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#AAAAAA;
  line-height:13px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:373px;
  width:65px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#AAAAAA;
  line-height:13px;
}
#u31 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#D9001B;
  line-height:13px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:339px;
  width:156px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#D9001B;
  line-height:13px;
}
#u32 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  line-height:13px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:639px;
  width:117px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  line-height:13px;
}
#u33 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:6px;
  filter:drop-shadow(none);
  transition:none;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:682px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u35 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  line-height:13px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:683px;
  width:264px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  line-height:13px;
}
#u36 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u36_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:212px;
  width:95px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u37 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u37_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:6px;
  filter:drop-shadow(none);
  transition:none;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:429px;
  width:280px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u38 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#AAAAAA;
  line-height:13px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:443px;
  width:91px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#AAAAAA;
  line-height:13px;
}
#u39 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:6px;
  filter:drop-shadow(none);
  transition:none;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:499px;
  width:280px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u40 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#AAAAAA;
  line-height:13px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:513px;
  width:78px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#AAAAAA;
  line-height:13px;
}
#u41 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  line-height:13px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:513px;
  width:65px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  line-height:13px;
}
#u42 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
