body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4002 {
  position:fixed;
  left:0px;
  top:0px;
}
#u4002_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4002_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u4003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4004 {
  position:fixed;
  left:50%;
  margin-left:-200px;
  top:50%;
  margin-top:-110px;
}
#u4004_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:400px;
  height:220px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4004_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.9921568627450981);
  border-radius:9px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:220px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u4006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:16px;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:32px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:16px;
}
#u4007 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4007_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  line-height:22px;
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:56px;
  width:322px;
  height:88px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  line-height:22px;
}
#u4008 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4008_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  text-align:right;
  line-height:14px;
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:170px;
  width:68px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  text-align:right;
  line-height:14px;
}
#u4009 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 20px 8px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4009_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  text-align:right;
  line-height:14px;
}
#u4010 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:170px;
  width:68px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  text-align:right;
  line-height:14px;
}
#u4010 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 20px 8px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4010_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:20px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u4011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u4011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
